@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Rubik";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #353031;
  text-align: left;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 700 !important;
}

.font-size-large {
  font-size: 1.125rem;
}
.font-weight-semi-bold {
  font-weight: 600;
}
.display-3 {
  font-size: 3rem;
  line-height: 1.2;
}

main {
  margin-top: 60px;
}

@media (max-width: 576px) {
  .display-3 {
    font-size: 1.6rem;
    line-height: 1.2;
  }
}
